service: master-g-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'ap-south-1'}
  memorySize: 128
  logRetentionInDays: 1

  environment:
    TASKS_TABLE: !Ref TasksTable
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    COGNITO_CLIENT_ID: !Ref CognitoUserPoolClient

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Scan
            - dynamodb:PutItem
            - dynamodb:UpdateItem
          Resource: 
            - !GetAtt TasksTable.Arn

  httpApi:
    authorizers:
      jwtAuthorizer:
        identitySource: $request.header.Authorization
        issuerUrl: !Join ['', [
          'https://cognito-idp.',
          '${self:provider.region}',
          '.amazonaws.com/',
          '${self:custom.cognito.userPoolId}'
        ]]
        audience:
          - ${self:custom.cognito.userPoolClientId}
        unauthorizedCacheTimeInSeconds: 300

functions:

  tokenAuthrizer:
    handler: src/authorizers/tokenAuthorizer.handler

  getTasks:
    handler: src/handlers/getTask.handler
    events:
      - httpApi:
          path: /tasks
          method: get
          authorizer: jwtAuthorizer

  createTask:
    handler: src/handlers/createTask.handler
    events:
      - httpApi:
          path: /tasks
          method: post
          authorizer: jwtAuthorizer

  updateTask:
    handler: src/handlers/updateTask.handler
    events:
      - httpApi:
          path: /tasks/{id}
          method: put
          authorizer: jwtAuthorizer

  signUp:
    handler: src/handlers/auth.signUp
    events:
      - httpApi:
          path: /auth/signup
          method: post

  signIn:
    handler: src/handlers/auth.signIn
    events:
      - httpApi:
          path: /auth/login
          method: post

resources:
  Resources:
    TasksTable: ${file(resources/TasksTable.yml):TasksTable}
    CognitoUserPool: ${file(resources/Cognito.yml):CognitoUserPool}
    CognitoUserPoolClient: ${file(resources/Cognito.yml):CognitoUserPoolClient}
    CognitoUserPoolDomain: ${file(resources/Cognito.yml):CognitoUserPoolDomain}

plugins:
  - serverless-offline
  - serverless-plugin-include-dependencies

custom:
  cognito:
    userPoolId: !Ref CognitoUserPool
    userPoolClientId: !Ref CognitoUserPoolClient