service: master-g-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'ap-south-1'}
  memorySize: 128
  logRetentionInDays: 1

  environment:
    TASKS_TABLE: master-g-api-tasks-${self:provider.stage}
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Scan
            - dynamodb:PutItem
            - dynamodb:UpdateItem
          Resource: "*"

  httpApi:
    authorizers:
      tokenAuth:
        type: request
        identitySource: $request.header.authorization
        functionName: tokenAuthrizer

        jwtCognitoAuthrizer:
          type: jwt
          identitySource: $request.header.Authorization
          audience: ${self:custom.COGNITO_USER_POOL_CLIENT_ID}
          issuer: https://cognito-idp.${self:provider.region}.amazonaws.com/${self:custom.cognitoUserPoolId}

functions:

  tokenAuthrizer:
    handler: src/authorizers/tokenAuthorizer.handler

  getTasks:
    handler: src/handlers/getTask.handler
    events:
      - httpApi:
          path: /tasks
          method: get
          authorizer: tokenAuth

  createTask:
    handler: src/handlers/createTask.handler
    events:
      - httpApi:
          path: /tasks
          method: post
          authorizer: tokenAuth

  updateTask:
    handler: src/handlers/updateTask.handler
    events:
      - httpApi:
          path: /tasks/{id}
          method: put
          authorizer: tokenAuth

resources:
  Resources:
    TasksTable: ${file(resources/TasksTable.yml):TasksTable}
    CognitoUserPool: ${file(resources/Cognito.yml):CognitoUserPool}
    CognitoUserPoolClient: ${file(resources/Cognito.yml):CognitoUserPoolClient}
    CognitoUserPoolDomain: ${file(resources/Cognito.yml):CognitoUserPoolDomain}

plugins:
  - serverless-offline
  - serverless-plugin-include-dependencies

custom:
  COGNITO_USER_POOL_ID:!Ref CognitoUserPool
  COGNITO_USER_POOL_CLIENT_ID:!Ref CognitoUserPoolClient